@model Product
@{
    ViewData["Title"] = "Detail";
}
<div class="container bootdey">
<div class="col-md-12">
<section class="panel">
      <div class="panel-body">
          <div class="col-md-6">
              <h2>Product Detail</h2>
               <h4>Id:@Model.Id</h4>
              <div class="pro-img-details">
                  <img src="~/images/products/@Model.ProductImages.FirstOrDefault(p=>p.Primary==true)?.Name" alt="@Model.ProductImages.FirstOrDefault(p=>p.Primary==true)?.Alt">
              </div>
              <br>
              <div class="pro-img-list d-flex">
                  @foreach (ProductImage img in Model.ProductImages.Where(p=>p.Primary==false))
                      {
                      <img width="150px"height="150px" src="~/images/products/@img.Name" alt="@img.Alt">
                      }
              </div>
          </div>
          <div class="col-md-6">
              <h4 class="pro-d-title">  
                <strong>Name:</strong>@Model.Name
              </h4>
              

              <div class="product_meta">
                  <p class="posted_in"> <strong>Price:</strong>$@Model.Price</p>
                  <p class="posted_in"> <strong>Rate:</strong>@Model.Rate</p>
              </div>
          </div>
      </div>
  </section>
  </div>
  </div>
